---
import { Image } from "astro:assets";
import hypesounds from "../assets/img/hypesounds.webp";
import mrnba from "../assets/img/mrnba.webp";
import velada from "../assets/img/lavelada.webp";
import GitHub from "../assets/svg/github.svg";
import Link from "../assets/svg/link.svg";
import Code from "../assets/svg/code.svg";

interface Project {
  title: string;
  image: ImageMetadata;
  link: string;
  preview: string;
  status: string;
}

const projects: Project[] = [
  {
    title: "La Velada V Web Oficial",
    image: velada as ImageMetadata,
    link: "https://github.com/MoyaRamiro/la-velada-web-oficial",
    preview: "https://www.infolavelada.com/",
    status: "In Development",
  },
  {
    title: "HypeSounds",
    image: hypesounds as ImageMetadata,
    link: "https://github.com/MoyaRamiro/HypeSounds",
    preview: "https://hype-sounds.vercel.app/",
    status: "Public Beta",
  },
  {
    title: "MR. NBA",
    image: mrnba as ImageMetadata,
    link: "https://github.com/MoyaRamiro/Mr-NBA",
    preview: "https://mr-nba.vercel.app/",
    status: "Maintenance",
  },
];
---

<section
  id="projects"
  class="border-t border-[#ffffff10] py-12 text-[var(--white)]"
>
  <div class="mx-auto max-w-5xl">
    <p class="shiny-sec mb-2 text-lg text-[var(--sec)]">My work</p>
    <h2 class="mb-8 text-4xl font-medium md:text-5xl">Projects</h2>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {
        projects.map((project) => (
          <div class="group">
            <a
              href={project.preview}
              aria-label={`See ${project.title}`}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <div class="mb-4 overflow-hidden rounded-2xl shadow-lg transition-shadow duration-300 hover:shadow-xl">
                <Image
                  src={project.image}
                  alt={project.title}
                  widths={[100, 200, project.image.width]}
                  class="h-48 w-full object-cover transition-transform duration-300 group-hover:scale-105 md:h-72"
                />
              </div>
              <div class="flex items-center px-3">
                <div class="flex-grow">
                  <h3 class="text-2xl font-semibold">{project.title}</h3>
                  <span class="py-1 text-sm text-[var(--white-icon)]">
                    {project.status}
                  </span>
                </div>
                <div class="ml-auto flex gap-2">
                  <a
                    target="_blank"
                    href={project.link}
                    aria-label="GitHub"
                    class="border-1 flex size-14 items-center justify-center rounded-xl border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
                  >
                    <Code />
                  </a>
                  <a
                    target="_blank"
                    href={project.preview}
                    aria-label="Preview"
                    class="border-1 flex size-14 items-center justify-center rounded-xl border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
                  >
                    <Link />
                  </a>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <a
      target="_blank"
      href="https://github.com/MoyaRamiro?tab=repositories"
      aria-label="GitHub"
      class="mt-9 flex w-full items-center justify-center gap-2 rounded-full border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
    >
      <span class="text-md md:text-lg">More projects on</span>
      <GitHub height="24" width="24" />
    </a>
  </div>
</section>
