---
import { Image } from "astro:assets";
import hypesounds from "../assets/img/hypesounds.webp";
import mrnba from "../assets/img/mrnba.webp";
import velada from "../assets/img/lavelada.webp";
import GitHub from "../assets/svg/github.svg";
import Link from "../assets/svg/link.svg";
import Code from "../assets/svg/code.svg";

interface Project {
  title: string;
  image: ImageMetadata;
  link: string;
  preview: string;
  status: string;
}

const projects: Project[] = [
{
    title: "La Velada V Web Oficial",
    image: velada as ImageMetadata,
    link: "https://github.com/MoyaRamiro/la-velada-web-oficial",
    preview: "https://www.infolavelada.com/",
    status: "On Development",
  },
  {
    title: "MR. NBA",
    image: mrnba as ImageMetadata,
    link: "https://github.com/MoyaRamiro/Mr-NBA",
    preview: "https://mr-nba.ramiromoya.com.ar/",
    status: "On Development",
  },
  {
    title: "HypeSounds",
    image: hypesounds as ImageMetadata,
    link: "https://github.com/MoyaRamiro/HypeSounds",
    preview: "https://hype-sounds.vercel.app/",
    status: "On Development",
  }
];
---

<section
  id="projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <p class="text-lg text-[var(--sec)] mb-2 shiny-sec">My work</p>
    <h2 class="text-4xl md:text-5xl font-medium mb-8">Projects</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <div class="group">
            <a
              href={project.preview}
              aria-label={`See ${project.title}`}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <div class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4">
                <Image
                  src={project.image}
                  alt={project.title}
                  widths={[100, 200, project.image.width]}
                  class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>
              <div class="flex items-center px-3">
                <div class="flex-grow">
                  <h3 class="text-2xl font-semibold">{project.title}</h3>
                  <span class="py-1 text-sm text-[var(--white-icon)]">
                    {project.status}
                  </span>
                </div>
                <div class="flex gap-2 ml-auto">
                  <a
                    target="_blank"
                    href={project.link}
                    aria-label="GitHub"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <Code />
                  </a>
                  <a
                    target="_blank"
                    href={project.preview}
                    aria-label="Preview"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <Link />
                  </a>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <a
      target="_blank"
      href="https://github.com/MoyaRamiro?tab=repositories"
      aria-label="GitHub"
      class="w-full flex items-center justify-center gap-2 mt-9 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
    >
      <span class="md:text-lg text-md">More projects on</span>
      <GitHub height="24" width="24" />
    </a>
  </div>
</section>
